<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="ecommage_order_raffle" frontName="ecommage_order_raffle">
            <module name="Ecommage_OrderRaffle" />
        </route>
    </router>
</config>
