<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="raffle_tickets" translate="label" type="text" sortOrder="1243189" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Raffle Tickets</label>
            <tab>catalog</tab>
            <resource>Ecommage_TimeRaffle::config_raffle_tickets</resource>

            <group id="general" translate="label"  sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Cart Reservation</label>
  
                <field id="enabled" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable Ticket Reservation</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>           
                <field id="reservation_time" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Cart Reservation Time(minutes)</label>
                    <comment><![CDATA[Set "0" to set unlimited reservation time]]></comment>
                    <depends>
                        <field id="*/*/enabled">1</field>
                    </depends>
                </field>                
            </group>
        </section>
    </system>
</config>
