<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="ecommage_checkout_success" frontName="ecommage_checkout_success">
            <module name="Ecommage_CustomerCheckoutSuccess" />
        </route>
    </router>
</config>
