<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_register_success">
        <observer name="ecommage_register_account_success_add_phone_number" instance="Ecommage\CustomerPersonalDetail\Observer\CreateAccount"/>
    </event>
</config>
