
/*==========================*/
.product-feed-wrapper{
	margin: 0;
	padding: 0;
}
.product-feed-container{
	width: 80%;
}
.product-feed-heading{
	width: 100%;
}
.product-feed-content{
	width: 100%;
}
