<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route frontName="customcategoryattribute" id="ExperiencesDigital_CustomCategoryAttribute">
            <module name="ExperiencesDigital_CustomCategoryAttribute"/>
        </route>
    </router>
</config>