<?xml version="1.0"?>
<!--
/**
 * @author Rootways Inc. Team
 * @copyright Copyright (c) 2021 Rootways (https://www.rootways.com/)
 * @package Rootways_Megamenu
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\Category\DataProvider">
	    <plugin name="rootways_megamenu_model_category_dataprovider_plugin" type="Rootways\Megamenu\Model\Category\DataProvider\Plugin" sortOrder="10" />
	</type>
    <!--
	<type name="Magento\Catalog\Controller\Adminhtml\Category\Save">
	    <plugin name="rootways_megamenu_controller_adminhtml_category_save_plugin" type="Rootways\Megamenu\Controller\Adminhtml\Category\Save\Plugin" sortOrder="10" />
	</type>
    -->
</config>
