<!--Use 'stepCode' as id attribute-->
<li id="opc-personal-information-checkout-form"
    data-bind="fadeVisible: visible(), blockLoader: isLoading, attr: { id: stepCode }">
    <div class="personal-information-checkout-form">
        <div class="step-title" data-bind="i18n: stepTitle" data-role="title"></div>
        <div id="checkout-step-title" class="step-content" data-role="content">

            <!-- ko foreach: getRegion('personal-information-checkout-form') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->

            <form data-bind="submit: navigateToNextStep" novalidate="novalidate">
                <div class="actions-toolbar">
                    <div class="primary">
                        <button data-role="opc-continue" type="submit" class="button action continue primary">
                            <span data-bind="i18n: 'Next'">Next</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</li>