<!--
/**
 * Copyright © Ecommage, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Collection date change #%receipt_no successfully" receipt_no=receipt_no}} @-->
<!--@vars {
"var new_date":"New Date",
"var old_date":"Old Date",
"var mobile_no":"Mobile No",
"var receipt_no":"Receipt No",
"var customer_name":"Customer Name",
"var customer_email":"Customer Email",
"var customer_prefix":"Customer Prefix",
"var sender_email":"Sender Email",
"var sender_name":"Sender Name"
} @-->

{{template config_path="design/email/header_template"}}

<p>asdasdasdasd</p>

{{template config_path="design/email/footer_template"}}
