<?xml version="1.0"?>
<!--
/**
 * @author Rootways Inc. Team
 * @copyright Copyright (c) 2021 Rootways (https://www.rootways.com/)
 * @package Rootways_Megamenu
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Rootways_Megamenu" setup_version="1.0.9">
        <sequence>
            <module name="Magento_Catalog"/>
        </sequence>
    </module>
</config>
