<?xml version="1.0"?>
<!--
/**
 * 
 * @package Bdfc_General
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="checkout" translate="label" type="text" sortOrder="305" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="order_restrictions" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Order Restriction</label>
                <field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Block Multiple Orders</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="hours" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">   
                    <label>Block Time(Hours)</label>   
                    <validate>validate-number</validate> 
                    <comment>Time gap between orders</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
            <group id="order_allow_time" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Allow Place Order</label>
                <field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Allow Order before Flight Restriction</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="hours" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">   
                    <label>Hours before Flight</label>  
                    <validate>validate-number</validate> 
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
