<div id="arrival_carrying_on_hand" class="arrival-carrying-on-hand" style="display: none;">
    <div class="" data-bind="attr: {'arrival-carrying-on-hand': arrivalCarryingOnHand()}">
        <div data-bind="html: getHtmlCustomCategory()"></div>
    </div>
    <div class="">
        <p>"Allowance limit of Bahrain is Spirit+Wine = 3 Ltr, Beer = 1 Box, Cigarettes = 400 Sticks and FLV Tobacco = 250 GM. If the purchase quantity exceeds the allowance, has to pay the handling charges."</p>
    </div>
</div>
