<div id="departure-flight-details" class="flight-collection-point" style="display: none;">
	<div class="row">
		<div class="col-md-3">
<!--			<img class="airline_logo" src="/media/emirates-logo.png" alt="">-->
			<img class="airline_logo" src="" alt="">
		</div>
		<div class="col-md-3">
			<div class="">
				<span class="label">Airline</span>
				<strong class="value airline_name"></strong>
			</div>
		</div>
		<div class="col-md-3">
			<div class="">
				<span class="label">Destination</span>
				<strong class="value"><span id="departure_flight_destination"></span></strong>
			</div>
		</div>
		<div class="col-md-3">
			<div class="">
				<span class="label">Departure Time</span>
				<strong class="value departure_time"></strong>
			</div>
		</div>
	</div>
</div>
