<div if="window.checkoutConfig.storeCode == 'arrival'" class="field mobile-number required" data-container="change-mobile-number"><label
    class="label"><span>Mobile No.</span></label>
    <div class="control">
        <input type="text" name="arrival_another_person_phone" id="arrival_mobile_number"
               data-input="change-mobile-number"
               class="input-text"
               data-validate="{required:true}">
        <input type="hidden" name="arrival_country_code">
    </div>
</div>
