<div class="control">
    <label class="label"><span>Collection Time</span></label>
    <br>
    <input name="departure_collection_time" class="input-text departure_collection_time-input" type="time"
           data-bind="
        event: {change: userChanges},
        value: value,
        hasFocus: focused,
        valueUpdate: valueUpdate,
        attr: {
            name: inputName,
            placeholder: placeholder,
            'aria-describedby': noticeId,
            id: uid,
            disabled: disabled,
    }"/>
</div>

