<div class="field">
    <div class="field mobile-number required" data-container="change-mobile-number">
        <div class="control">
            <input type="text"
                   name="mobile_number"
                   data-input="change-mobile-number"
                   class="input-text sparsh-mobile-number-login-user"
                   id="mobile_number"
                   placeholder="Enter Mobile No"
                   data-validate="{required:true, 'validate-digits':true, 'validate-mobile-number':true}"/>
            <input name="country_code" type="hidden" value="VN">
        </div>
    </div>
</div>
