<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="ecommage_raffle_tickets" frontName="ecommage_raffle_tickets">
            <module name="Ecommage_RaffleTickets" />
        </route>
    </router>
</config>
