<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <nav>
            <system>
                <api_delivery_date>http://88.201.70.74:7047/DynamicsNAV71/WS/BDFC/Codeunit/ECommSaleCreation</api_delivery_date>
            </system>
        </nav>
    </default>
</config>
