<div id="arrival-flight-details"
	 class="flight-collection-point" style="display: none">
	<div id="flight-error"></div>
	<div class="row">
		<div class="col-md-3">

			<img id="arrival_airline_logo" src=""
				 alt="">
		</div>
		<div class="col-md-3">
			<div class="">
				<span class="label">Airline</span>
				<strong class="value"><span id="arrival_flight_name"></span></strong>
			</div>
		</div>
		<div class="col-md-3">
			<div class="">
				<span class="label">Origin</span>
				<strong class="value"><span id="arrival_flight_origin"></span></strong>
			</div>
		</div>
		<div class="col-md-3">
			<div class="">
				<span class="label">Arrival Time</span>
				<strong class="value"><span id="arrival_flight_time"></span></strong>
			</div>
		</div>
	</div>
</div>
